<div id="custom_sidebar">
  
  <img src="http://www.gravatar.com/avatar/cae59ed433ef26f560841e07900a684a?s=160" alt="self" id="me">
  
  <h5>HatMatrix</h5>
  <p>
编译于628488732，运行在全世界第四大Linux服务器上，严重依赖于汉语和英语环境，UI简(chou)洁 (lou)，支持R与Python接口，需要Google API支持，自带驱动，不开放源代码。    

  </p>
	<h5>我还在这里</h5>
	
  <ul id="contact_list">
    <li>
      <a href="http://github.com/junjiemao">
        <img src="/assets/images/icons/github.gif" alt="Facebook Link">
        Github
      </a>
    </li>
    <li>
      <a href="mailto:maojunj1989@gmail.com">
       <img src="/assets/images/icons/gmail.png" alt="Newspaper Icon" height=2.2 width=1.6>
        Gmail
      </a>
    </li>
    <li>
      <a href="http://weibo.com/1727877543/">
       <img src="/assets/images/icons/sina.png" alt="Sina Weibo Icon">
        新浪微博
      </a>
    </li> 
    <li>
      <a href="http://www.douban.com/people/mylove2stat/">
       <img src="/assets/images/icons/douban.png" alt="DouBan Icon">
        豆瓣
      </a>
    </li>

  </ul>

</div>
