<div id="custom_sidebar">
  
  <img src="http://www.gravatar.com/avatar/cae59ed433ef26f560841e07900a684a?s=160" alt="self" id="me">
  
  <h5>HatMatrix</h5>
  <p>
    R、Python、Linux脑残粉，Google重度依赖者，轻度代码洁癖。现在为某待知名软件公司首席保洁员，急需脑补各种知识，随时准备升级为扫地僧。
  </p>
	<h5>联系我</h5>
	
  <ul id="contact_list">
    <li>
      <a href="http://github.com/junjiemao">
        <img src="/assets/images/icons/github.gif" alt="Facebook Link">
        Github
      </a>
    </li>
    <li>
      <a href="mailto:maojunj1989@gmail.com">
       <img src="/assets/images/icons/gmail.png" alt="Newspaper Icon" height=2.2 width=1.6>
        Gmail
      </a>
    </li>
    <li>
      <a href="http://weibo.com/1727877543/">
       <img src="/assets/images/icons/sina.png" alt="Sina Weibo Icon">
        新浪微博
      </a>
    </li> 
    <li>
      <a href="http://www.douban.com/people/mylove2stat/">
       <img src="/assets/images/icons/douban.png" alt="DouBan Icon">
        豆瓣
      </a>
    </li>

  </ul>

</div>
